<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<br><br>------ Begin Riot ------<br><br>

<post-list></post-list>

<br><br>------ End Riot ------<br><br>

<br>

<%= link_to 'New Post', new_post_path %>
